body
{
    background: #3E61DC;
}
.logo
{
    display: block;
    position: fixed;
    top: 35%;
    left: 47%;
    transform: translate(-50%);
}
.logo .connect
{
    width: 350px;
}
.logo .ieee
{
    width: 300px;
    margin-bottom: 20px;
}
.logo
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
}
.next
{
    position: fixed;
    font-family: "Inter", sans-serif;
    right: 15%;
    bottom: 10%;
    text-decoration: none;
    background-color: white;
    padding: 10px 20px;
    width: fit-content;
    font-size: 2rem;
    border-radius: 2rem;
    text-align: center;
}
.auto
{
    position: fixed;
    font-family: "Inter", sans-serif;
    right: 15%;
    bottom: 20%;
    text-decoration: none;
    background-color: white;
    padding: 10px 20px;
    width: fit-content;
    font-size: 2rem;
    border-radius: 2rem;
    text-align: center;
}
@media(max-width:766px)
{
    .logo
    {
        flex-direction: column;
        gap: 20px;
    }
}
@media(max-width:440px)
{
    .logo
    {
        top: 30%;
    }
    .logo .connect
    {
        width: 250px;
    }
    .logo .ieee
    {
        width: 250px;
    }
    .auto
    {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
    }
    .next{
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.8rem;
        width: 70%;
    }
}
@media(max-width:350px)
{
    .auto
    {
        font-size: 1.2rem;
    }
    .next
    {
        font-size: 1.2rem;
    }
}